<a href="https://colab.research.google.com/github/pedrazaitzelg/notebook_01/blob/main/CSE20_Beginning_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INTELLECTUAL PROPERTY**

The materials in this notebook are **the intellectual property** of **Dr. Larissa Munishkina.**

As a student or a user, you have access to the materials for the purpose of learning, engaging with your peers in the course, completing assignments, and so on. You have a moral and legal obligation to respect the rights of others by **only** using course materials for purposes associated with the course.

You are **not permitted to share, upload, stream, sell, republish, share the login information for, or disseminate any of the course materials**, such as: slides, notes, syllabus, notebooks, video and audio files, assignments, simulations, datasets, discussion threads, etc.

# Lecture 1 - Intro to Class
* Syllabus
* Class Resources Online
  * Canvas
  * Zoom Meetings
  * Video Lectures on YuJa
  * Discussion Forums on Ed
* Assignments and Quizzes
* Discussion and Tutoring Sections
* Getting Help: Office Hours, MSI Tutoring, Discussions on Canvas and Ed

# Lecture 2 - Setting Up Programming Environment
* IDEs (***I***ntegrated ***D***evelopment ***E***nvironment)
* Python 2 vs Python 3
* Python 3 and IDLE Installation
* Intro to UNIX
* Using sftp and ssh
* Bash Shell Scripts

# Lecture 3 - Intro to Python
* Software Development
* Programming Languages
* What is a Program?
* Interpreted vs. Compiled Languages
* Machine Code
* Python IDEs, APIs, and Libraries
* Language Basics
  * Statements
  * Expressions
  * Operators, Keywords, Variables, Values, Delimiters
  * Data Types
  * Comments, Blocks, Indentations

In [ ]:
print ("Hello!")  # this is a print statement

Hello!

In [ ]:
2 + 5    # this is an arithmetic expression

7

In [ ]:
# this is a comment! The Python interpreter does not read and execute this line

In [ ]:
a = 10  # this is an assignment statement, the variable a is assigned to 10
type(a) # this prints the variable data type

int

In [ ]:
# this is a loop statement (two lines of code)
for i in range(10):
	print (i)    # this is a for loop block and it is indented

0
1
2
3
4
5
6
7
8
9

In [ ]:
import random
import string

# this is the main game loop with indented blocks
game_over = False
letter = random.choice(string.ascii_lowercase)
#print(f'The hidden letter is {letter}.')
while not game_over :
    ans = input ("Type quit or guess a letter:  ").lower()
    if ans == 'quit' :
        print ("Thanks for playing.")
        game_over = True
    else:
        if ans == letter:
            print(f'You won!\nThe letter is {letter}.')
            game_over = True

# Lecture 4 - Variables and Operators
* Identifiers
* Values and Variables
* Operators
  * Assignment Operators
  * Arithmetic Operators
  * Comparison Operators
  * Logical Operators
  * Bitwise Operators
  * Membership Operators
* Precedence and Associativity

##Identifiers

In [ ]:
word = 'while'
word.isidentifier()

True

In [ ]:
import keyword        # import the keyword module
keyword.iskeyword(word)

True

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

Check which words are valid identifiers (they are not keywords and have the valid format):

In [ ]:
import keyword
list_of_words = ['continue', 'break', 'while', 'list', 'class', 'int', 'start', 'end']
for word in list_of_words:
  if word.isidentifier() and not keyword.iskeyword(word):
    print(f'{word} is a valid identifier.')
  else:
    print(f'{word} is not a valid identifier.')

continue is not a valid identifier.
break is not a valid identifier.
while is not a valid identifier.
list is a valid identifier.
class is not a valid identifier.
int is a valid identifier.
start is a valid identifier.
end is a valid identifier.

##Assignment and Arithmetic Operators

In [ ]:
# this is a simple assignment statement
num = 100
print(num)

100

In [ ]:
# this is a multiple assignment statement
a, b = 5, 2
print (a, b)

5 2

In [ ]:
# this is a compound assignment statement
a += b
print (a)

7

In [ ]:
# this is another compound statement
a = 5
a /= b
print (a)

##Division Theorem

There are two types of divisions:
* Proper (float) division
* Floor (integer) division

Division of integers is called Euclidean division that is based on the Euclid's division lemma:

Given two integers $a$ and $b$, with $b ≠ 0$, there exist unique integers $q$ and $r$ such that

$a = bq + r$

and

$0 ≤ r < |b|$,
where $|b|$ denotes the absolute value of $b$.

Integer $a$ is called the **dividend**, $b$ is called the **divisor**, $q$ is called the **quotient** and $r$ is called the **remainder**.

In [ ]:
# this is an integer division
a = 5
c = a // b
print (c)

In [ ]:
# this is a modulo operation (finding a remainder of integer division)
d = a % b
print (d)

##Comparisson Operators

---

###Number Comparison

In [ ]:
1 < 0

In [ ]:
0 > 1

In [ ]:
a = 0
b = 10 * a
print (a == b)

###String Comparison

Strings can be compared using $>$, $<$, and $==$ operators. Each character in the strings is converted into its numeric code:
 * ASCII (American Standard Code for  Information Interchange)
 * Unicode

 For example, letter **A** has numeric code **65**, letter **B** -- **66**, whereas letter **a** has numeric code **97**, letter **b** -- **98**.

In [ ]:
print(ord('A'))
print(ord('B'))
print(ord('a'))
print(ord('b'))

65
66
97
98

In [ ]:
'a' < 'b'

True

In [ ]:
'a' < 'b' < 'c'

True

In [ ]:
'abba' < 'beetles'

True

In [ ]:
'A' > 'a'

False

##Logical Operators

In [ ]:
A = False
B = True
print(A or B)
print(A and B)
print(not A)

True
False
True

In [ ]:
A = 0 > 1  # is false
B = 1 > 0  # is true
print(A or B)
print(A and B)
print(not A)

True
False
True

##Membership Operators

In [ ]:
if 'y' in 'python':
  print("The word 'python' has a letter 'y'.")
if 'e' not in 'python':
  print("There is no letter 'e' in 'python'.")

##Identity Operators

In [ ]:
a = 10
b = 10
print (a is b)
s1 = 'hello'
s2 = 'hello'
print (s1 is s2)
list1 = [1,2,3]
list2 = [1,2,3]
print(list1 is list2)

##Bitwise Operators


> Bitwise operators operate on bits. For example, an integer in the decimal notation can be converted into the binary notation:

$12 = 1*2^3  + 1*2^2 + 0*2^1 + 0*2^0$

or **1100**

$13 = 1*2^3  + 1*2^2 + 0*2^1 + 1*2^0$

or **1101**

In [ ]:
num1 = 12
num2 = 13
print(num1 & num2) # bitwise AND
print(num1 | num2) # bitwise OR
print(num1 ^ num2) # bitwise XOR
print(~num1)       # binary ones complement
print(num1<<1)     # binary left shift or multiply by 2
print(num1>>1)     # binary right shift or divide by 2

12
13
1
-13
24
6


# Lecture 5 - Data Types
* Overview of Python Built-In Data Types
  * Basic Data Types
  * Data Collections
* Basic Data Types
  * Integer
  * Float
  * Boolean
  * Complex
  * String
  * None
* Standard Input and Output
* String Formating
  * f-Strings
  * Method format
  * String Concatenation

##Integer

In [ ]:
num_students = 302
print(num_students)
type(num_students)

302

int

In [ ]:
if num_students > 200:
  print('It is a large class.')

##Float

In [ ]:
area = 32.456
print(type(area))

<class 'float'>

In [ ]:
side1, side2 = 12.31, 15.28         # sides of a rectangle
perimeter = (side1 + side2)*2
area = side1 * side2
print(f'The perimeter of the rectagle is {perimeter} and the area of the rectangle is {area}.')

##Boolean

In [ ]:
is_over = True
print (type(is_over))

In [ ]:
is_done = False
if not is_done:
  print("The class is not over yet.")

##String

In [ ]:
word = "hello"
phrase = "How are you?"
verse = """Heaven/Earth
Death/Birth"""
print(f"The word is '{word}'\nThe prase is '{phrase}'.\nThe verse is:\n{verse}")

The word is 'hello'
The prase is 'How are you?'.
The verse is:
Heaven/Earth
Death/Birth

In [ ]:
greet = "Hi Sam!"
question = "Where have you been?"
print(greet + question)
print(greet + ' ' + question)

Hi Sam!Where have you been?
Hi Sam! Where have you been?

In [ ]:
greet = "Hi Sam! "
print (greet * 3)

Hi Sam! Hi Sam! Hi Sam!

In [ ]:
letter = 'a'
code = ord(letter)
print (f"The letter {letter} has an ASCII code {code}.")

The letter a has an ASCII code 97.

In [ ]:
code = 36
char = chr(code)
print(f"The ASCII code {code} corresponds to the character '{char}'.")

The ASCII code 36 corresponds to the character '$'.

##Conversion Between Binary, Octal, Hexadecimal, and Decimal Numbers

In [ ]:
d = 12            # d is an integer
print(type(d))
b = bin(d)        # b is a binary form of the integer stored as a string
print(b)
print(type(b))

In [ ]:
d = 12
o = oct(d)
h = hex(d)
print (f"Integer {d} has octal form {o} and hexadecimal form {h}.")

##Integer Casting

In [ ]:
a, b = '12', '13'
c = a + b
print(f"This is the result of string concatenation {c}.")
d = int(a) + int(b)
print(f"This is the result of integer addition {d}.")

The function int() can be used to convert **strings** or **floats** into integers

In [ ]:
d = 12
b = bin(d)
o = oct(d)
h = hex(d)
# let's convert them back
print(int(b, 2))
print(int(o, 8))
print(int(h, 16))

In [ ]:
f = 12.345
print(int(f))

##Standard Input


> The standard input is the input received from the keyboard. In Python, we use the built-in function input() to get input typed by the user on the keyboard.

In [ ]:
first = input ("What is your name?\n")
last = input ("What is your last name?\n")
age = int (input ("How old are you?\n") )
age += 1
print("Your name is {}.".format(first))
print(f"Your last name is {last}.")
print("Next year you will be " + str(age) + " years old.")

##Standard Output and String Formatting


> The standard output is the output to the screen (the computer display). In Python, we use the built-in function print() to send data to the standard output, the screen.

In [ ]:
print ( 9.0)                # print a float
print ("A", 2, 3 + 2J)      # print several objects
print ("Hello!")            # print strings
print ("Alice!")
print ("Hello,", end = " ") # suppress the default behavior (e.g. adding a newline to the end of the string)
print ("Alice!")

9.0
A 2 (3+2j)
Hello!
Alice!
Hello, Alice!

In [ ]:
person, city = "Sam", "Fresno"
print ("{} lives in {}.".format(person, city))            # using the method format() and default formatting
print ("{1} lives in {0}.".format(city, person))            # using the method format and positional arguments
print ("{name} lives in {town}.".format (town="Fresno", name="Sam")) # using the method format and keyword arguments
print (f"{person} lives in {city}.")                        # using an f-string

In [ ]:
# use a fix-point value (default is 6 decimals)
price = "{:.2f}".format(6.991)
print("It costs only {} dollars!".format(price))

# use "<" to left-align the value:
print("It costs only {:<16} dollars!".format(price))

# use ">" to right-align the value:
print("It costs only {:>16} dollars!".format(price))

# use "^" to center-align the value:
print("It costs only {:^16} dollars!".format(price))

# use "e" for scientific number format:
print("It costs only {:e} dollars!".format(9.657))

# Lecture 6 - Conditional Statements
* Control Flow and Branching
* Conditional Statements
  * If Statements
  * If-Else Statements
  * Elif Statements
  * Nested Conditional Statements

###IF Statement


> An if statement is used if we want to distinguish only one type of conditions from the rest.

In [ ]:
# mark even numbers with the label "is even"
x = int ( input ( "Please enter a number: " ) )
s = ""
if  x%2 == 0  :
    s = "is even"
print (str(x) + " " + s)
print(x, s)

Please enter a number: 6
6 is even
6 is even

###IF-ELSE Statement


> An if-else statement is used when we need to distinguish two complementary conditions e.g. even and odd numbers, cold and hot, true and false, etc.

In [ ]:
# mark even numbers with the label "is even"
# and odd numbers with the label "is odd"
x = int(input("Please enter a number: "))
s = " "
if x%2 == 0:
    s = "is even"
else:
    s = "is odd"
print ( str(x) + " " + s)
print (f'{x} {s}')
print (x, s)

Please enter a number: 7
7 is odd
7 is odd
7 is odd

###ELIF Statement


> An elif statement is used when we want to distinguish many not overlapping conditions e.g. positive and negative numbers and zero; cold, hot, and warm temperature; extra-large, large, medium, small, extra-small sizes; etc.

In [ ]:
# mark positive numbers with the label "is positive"
# negative numbers with the label "is negative"
# and zero with the label "is zero"

x = int(input("Please enter a number: "))
s = ""
if  x > 0:
    s = "is positive"
elif x < 0:
    s = "is negative"
else:
    s = "is zero"
print (str(x) + " " + s)

Please enter a number: -9
-9 is negative

In [ ]:
# characterize temperature  as hot, warm, or cold
temp = float(input("Please enter temperature in Celsius:  "))
if temp > 40 :
    print ( "It is hot.")
elif temp < 20 :
    print ("It is cold.")
else:
    print ("It is warm.")

Please enter temperature in Celsius:  10
It is cold.

In [ ]:
# print the menu of food products and their prices
choice = input ("Please make a choice: \n\
A - Apple juice\n\
B - Banana\n\
C - Candy bar\n\
D - Donut\n").upper()
if choice == 'A':
    print ("Your price is $1.99.")
elif choice == 'B':
    print ("Your price is $0.30.")
elif choice == 'C':
    print ("Your price is $0.99.")
elif choice == 'D':
    print ("Your price is $1.29.")
else :
    print ("You did not make the right choice.")

Please make a choice:
A - Apple juice
B - Banana
C - Candy bar
D - Donut
D
Your price is $1.29.

###Nested IF Statement

In [ ]:
# check if a number in the range [1-25] is prime

num = int(input('Please enter number [1-25]:  '))
if (num == 2 or num%2 != 0):
   if (num == 3 or num%3 != 0):
      if (num == 5 or num%5 != 0) :
          print ( f'{num} is prime.')
print ('Bye!')

##Boolean Logic

Boolean logic is based on using expressions that can be evaluated to TRUE or FALSE values. These Boolean expressions can be combined using three basic logical operators: AND, OR, and NOT.

In [ ]:
A = 1 < 2 # A is a Boolean expression
A

True

In [ ]:
B = 2 != 5 # B is a Boolen expression
B

True

NOT operator is a unary operator and reverses the value of a given expression.

In [ ]:
A = True
not A

False

In [ ]:
B = False
not B

True

AND operator is a binary operator. It returns True if both operands are True.

In [ ]:
A, B = True, False
A and B

False

OR operator is a binary operator and returns True if at least one operand is True.

In [ ]:
A, B = True, False
A or B

True

There are several rules used in Boolean Logic. Here are some of them:


*   De Morgan's Rules:

    not (A or B) == not A and not B

    not (A and B) == not A or not B
*   Distributive Rules:

    (A and B) or C == (A or C) and (B or C)
    
    (A or B) and C == A and C or B and C

In [ ]:
A, B = True, False
not(A or B) == (not A) and (not B)

True

In [ ]:
A, B, C = True, True, False
(A and B) or C == (A or C) and (B or C)

True

# Lecture 7 - Loops
* Control Flow and Repetitive Statements
* For Loops and Range Function
* While Loops
* Break Statement
* Continue Statement
* Pass Statement
* Nested Loops
* Loop Comparison and Conversion

##For Loop

A for loop is used for the following tasks:

1.   Traverse items in a container such as a list, set, or array
2.   Count

In order to count, we need to generate numbers. This is achieved using a range function, a number generator.

##Range Function


> A range function returns an iterator, a special structure that can be called repeatedly and return a number in the sequence that is defined by three values: start, stop, and step.

In [ ]:
print(type(range(3)))
print(range(3))
print(list(range(3)))        # we can convert a range into a list to visualize the sequence
print(list(range(0, 3, 1)))  # it is the same as the previous statement but has all three arguments
print(list(range(1,3,1)))
print(list(range(3,0,-1)))

<class 'range'>
range(0, 3)
[0, 1, 2]
[0, 1, 2]
[1, 2]
[3, 2, 1]

In [ ]:
n = 5
count = 1
for k in range(1, n, 1):
    print(k)
    print(count)
    print("wait...")
    count += 1
print(k)
print(count)
print("Go!")

1
1
wait...
2
2
wait...
3
3
wait...
4
4
wait...
4
5
Go!

In [ ]:
import time

n = 5
for k in range(n, 0, -1):
    print(k)
    print("wait...")
    time.sleep(3)
print("Go!")

5
wait...
4
wait...
3
wait...
2
wait...
1
wait...
Go!

In [ ]:
for i in range(1, 11):
    if i == 10:
        print(i)
    else:
        print(i, end = ', ')

1, 2, 3, 4, 5, 6, 7, 8, 9, 10

##ASCII Art

In [ ]:
# print a horizontal line
for i in range(10):
    print('*', end='')

**********

In [ ]:
# print a rectangle made of lines
h, w = 3, 5
for i in range(h):
    print('*' * w)

*****
*****
*****

##Nested For Loop

In [ ]:
h, w = 5, 15
for i in range(h):
    for j in range(w):
        print('*', end='')
    print()

***************
***************
***************
***************
***************

In [ ]:
# print a triangle
h = 5
for i in range(1, h+1):
    print('*' * i)

*
**
***
****
*****

In [ ]:
# create an ASCII art rectangle made of asterisks
# using a nested for loop and print statements
length = int(input("Enter the length:  "))
width  = int(input("Enter the width:  "))

for i in range (length) :
     for j in range (width) :
          print('*', end = '')
     print()

Enter the length:  10
Enter the width:  5
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****

In [ ]:
# create an ASCII art rectangle made of asterisks
# using a string
length = int(input("Enter the length:  "))
width  = int(input("Enter the width:  "))
s = ''
for i in range (length) :
     for j in range (width) :
          s += '*'
     s += '\n'
print(s)

Enter the length:  10
Enter the width:  5
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****

In [ ]:
# create a triangle made of asterisks
# using a nested for loop
height = int(input("Enter the triangle height:  "))
for i in range (height) :
     for j in range (i+1) :
          print('*', end = '')
     print()

Enter the triangle height:  10
*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
# create a triangle made of asterisks
# without an inner for loop using a string repetition
height = int(input("Enter the triangle height:  "))
for i in range (height) :
    print('*' * (i+1))

Enter the triangle height:  5
*
**
***
****
*****

##While Loops

In [ ]:
i = 1
while i < 11:
    print(i, end = ', ')
    i += 1

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [ ]:
i = 10
while i > 0:
    print(i, end = ', ')
    i -= 1

10, 9, 8, 7, 6, 5, 4, 3, 2, 1,

###Adding numbers

In [ ]:
sum = 0
while sum < 20:
    sum += int(input('Enter a number: '))
    print(sum)

Enter a number: 1
1
Enter a number: 4
5
Enter a number: 18
23

###Generating sequencing

In [ ]:
# generate the geometric sequence from 1 to 128
num = 1
s = str(num)
while num < 100  :
    num *= 2      # generate 2, 4, 8, 16, 32, 64, 128
    s += ' ' + str(num)
print(s)
print("Done!")

###Finding prime numbers

In [ ]:
import math

n = int(input('Enter the number:'))
sqrt_n = math.floor(math.sqrt(n))

for i in range(2, sqrt_n + 1):
    if n % i == 0:
        print(f'{n} is not a prime.')
        break
else:
    print(f'{n} is a prime.')

Enter the number:11
11 is a prime.

##Nested While Loop

###Finding the average of numbers

In [ ]:
over = False
while not over :
    sum_, i = 0.0, 0
    sum_ += float(input("Enter your first number:  "))
    i += 1

    while True :
        num = float(input("Enter your next number or terminate with 0: "))
        if num != 0:
            sum_ += num
            i += 1
            continue
        else:
            avg = sum_ / i
            print ( f"The average of numbers is {avg}." )
            break

    ans = input("Do you want to quit [Y/N]:  ").upper()
    if ans == "Y":
        over = True
print('Goodbye!')

Enter your first number:  3
Enter your next number or terminate with 0: 6
Enter your next number or terminate with 0: 0
The average of numbers is 4.5.
Do you want to quit [Y/N]:  n
Enter your first number:  1
Enter your next number or terminate with 0: 2
Enter your next number or terminate with 0: 3
Enter your next number or terminate with 0: 0
The average of numbers is 2.0.
Do you want to quit [Y/N]:  y
Goodbye!

##Break and Continue Statements

###Generating a shopping program menu

In [ ]:
while True:
    # print the menu of food products and their prices
    choice = input ("Please make a choice: \n\
    1 - Apple juice\n\
    2 - Banana\n\
    3 - Quit the program\n").upper()
    product = ''
    price = 0
    if choice == '1':
        print ("Your price is $1.99.")
    elif choice == '2':
        print ("Your price is $0.30.")
    elif choice == '3':
        break
    else :
        print ("You did not make the right choice.")
        continue
    print('Thank you for buying the product.')
print('Goodbye!')

# Lecture 8 - Functions
* Built-In Functions vs User-Defined Functions
* Function Definitions and Function Calls
* Function Parameters and Arguments
* Scope of Variables
* Void Functions and Return Statement

A function is a control flow structure made of a block of statements that can be executed from anywhere in code through the calling procedure (function call). A function has a name (identifier) and parameters and returns a value.  

To use a function, we need to call it from outside of the function definition (e.g. from the main or other functions). When we call a function, we need to provide values for its parameters unless the function does not require any input values. The input values are function arguments and placed inside of the parentheses that follow the function name.

##Built-In Functions

In [ ]:
print('Hello!') # print() is a built-in function that outputs 'Hello' to the screen; it returns None
a = print('Hello!')
print('The value of a is', a)
b = input() # input() is a built-in function that returns a string corresponding to the keyboard key entries
print('The value of b is', b)
c = int('18')  # int() is also a built-in function that converts an input value into an integer
print('The value of c is', c)

Hello!
Hello!
The value of a is None
Alice
The value of b is Alice
The value of c is 18

##Function Arguments and Parameters

In [ ]:
print(list(range(10)))
print(list(range(0, 10)))
print(list(range(0, 10, 1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##User-Defined Functions

In [ ]:
# this is the function definition:
def average (x, y=0) :
    #print(x, y)
    result = (x + y) / 2
    return result

# these are the function calls:
if __name__ == '__main__':
    a, b = 20, 30
    num_avg = average (y=a, x=b)
    #num_avg = average (a)
    print(num_avg)

25.0

In [ ]:
from datetime import *

# function definition
def greeting (name, birthday) :
       print (f"Hello, {name}!")
       d = date.today()
       birthday = birthday.split('-')
       if int(birthday[0]) == d.month and int(birthday[1]) == d.day:
            print ("Happy Birthday!")

# main
name = input ("Please enter your name:  ")
birth = input ("When is your birthday? [Use a mm-dd format]: ")
# function call
greeting (name, birth)

Please enter your name:  Bob
When is your birthday? [Use a mm-dd format]: 07-03
Hello, Bob!
Happy Birthday!

##Variable Number of Arguments

In [ ]:
# using *args
def function1(*argv):
    k = 0
    for arg in argv:
        k += 1
        print("Argument", k, "is", arg)

def function2(**kwargs):
    for key, value in kwargs.items():
        print("The key", key, "has the value", value)

# main
#function1('hello.py', 'ex1', 'ex2', 'ex3')

function2(name="Chris", major="Math", age='19')

The key name has the value Chris
The key major has the value Math
The key age has the value 19

##Variable and Function Scope

When we use a function, we create local variables that only 'live' inside the function and are not available outside the function. When the function returns its value, all its local variables are gone - they disappear from the memory!!! Global variables are variables that belong to the main function (main module). We usually do not use functions to modify global variables. If we need to do it, we use the keyword global in front of a global variable when we use it inside of another function.

In [ ]:
def fxn():
    y = 3
    print(f'x in the function: {x}')
    print(f'y in the function: {y}')

x, y = 2, 5
fxn()
print(f'x in the main: {x}')
print(f'y in the main: {y}')

x in the function: 2
y in the function: 3
x in the main: 2
y in the main: 5

In [ ]:
var1 = 10 # global variable
var2 = 5  # global variable
def function1( ):
    #print(var1)
    var1 = 20   # local variable
    print ('The value of var1 inside of the function1 is', var1)
def function2 ( ):
    global var2
    var2 = 7
    print ('The value of var2 inside of the function2 is', var2)

function1 ()
print ('The value of var1 outside of the function1 is', var1)
function2 ()
print ('The value of var2 outside of the function2 is', var2)

10
The value of var1 inside of the function1 is 10
The value of var1 outside of the function1 is 10
The value of var2 inside of the function2 is 7
The value of var2 outside of the function2 is 7

In [ ]:
def fxn1 ():
    print('Fxn 1')
    def fnx3 ():
         print('Fxn 3')
    fnx3()

def fxn2 ():
    print('Fxn 2')
    fxn1 ()
    #fnx3 () # generates an error because fxn3 is defined locally

fxn1 ()
fxn2 ()
fxn3 ()  # generates an error because fxn3 is defined locally

Fxn 1
Fxn 3
Fxn 2
Fxn 1
Fxn 3

NameError: name 'fxn3' is not defined

# Lecture 9 - Strings
* String Indexing and Slicing
* String Functions and Methods
  * Methods vs Functions
  * String Functions
  * String Methods
* String Formatting
* String Traversal
* ASCII Codes and Unicode
* Working with Strings
  * Raw Strings
  * Escape Sequences
  * Regular Expressions

##String Indexing and Slicing

In [ ]:
python = 'PYTHON'
print(python[0]) # outputs the first character
print(python[-1]) # outputs the last character
print(python[::-1]) # reverses the string
print(python[0:2])  # makes a slice of first two characters
print(python[3:5])
print(python[1:6:2])
print(python[::3])
print(python[::-2])

P
N
NOHTYP
PY
HO
YHN
PH
NHY

##String Built-In Functions

In [ ]:
s = 'Alex'
print(len(s)) # counts the number of characters in a string
print(len('How are you?'))
print(max(s)) # returns the character with the smallest ASCII code/unicode value
print(min(s)) # returns the character with the largest ASCII code/unicode value
print(sorted(s)) # returns the list of characters sorted by ASCII code/unicode values

4
12
x
A
['A', 'e', 'l', 'x']

##String Methods

In [ ]:
# using the split() method
s1 = 'a:::b:::c'.split(':::')
print(s1)
s2 = "I know it.".split()
print(s2)
s3 = '01/31/2022'.split('/')
print(s3)

['a', 'b', 'c']
['I', 'know', 'it.']
['01', '31', '2022']

In [ ]:
# using the joint method
s1 = '/'.join(['1','31', '2022'])
print(s1)
s2 = ' '.join( ['I', 'know', 'it.'] )
print(s2)

1/31/2022
I know it.

In [ ]:
s='python3'
print(s)
print(s.upper()) # makes all letters uppercase
print(s.capitalize()) # capitalizes the word
print(s.isalpha()) # checks if the first character is a letter
print(s[-1].isdigit()) # checks if the fouth character is a digit
print(s.find('y'))    # returns the index of 'y'
print(s.replace('pyth', 'wag')) # substitutes 'pyth' with 'wag'

python3
PYTHON3
Python3
False
True
1
wagon3

##String Traversal

In [ ]:
word = 'knowledge'
index = 0
for i in range(len(word)):
      print (word[i] + ' ' + str(i), end = '')

k 0n 1o 2w 3l 4e 5d 6g 7e 8

##Counting String Characters

In [ ]:
word = input ('Enter a word: ')
count = 0
for char in word:
    if char == 'l':
        print(f'The character \'{char}\' is found!')
        count += 1
print(count)

Enter a word: look
The character 'l' is found!
1

In [ ]:
word = input ('Enter a word: ')
index1 = word.find('a', 0)
print(index1)
index2 = word.find('a', index1+1)
print(index2)

Enter a word: alabama
0
2

In [ ]:
word = input ('Enter a word: ')
print(word.count('a'))

Enter a word: alabama
4

##Unicode and ASCII Codes

In [ ]:
for char in 'python':
    print (char, ord(char))

p 112
y 121
t 116
h 104
o 111
n 110

In [ ]:
# print ASCII characters in range 0-255
for i in range (50, 100) :
    print (str(i) + ' ' + chr(i))

50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c

In [ ]:
print(chr(36)) # converts an ASCII code into a character
print(ord('$')) # converts a character into an ASCII code/unicode
print('\u03B1') # prints a character (Greek alpha) corresponding to the unicode (\u + hex)
print("\u2764\uFE0F")

$
36
α
❤️

In [ ]:
code = '0x03B1'
print(int(code, 16))

945

In [ ]:
s = 'hello'
bytes_ = s.encode('UTF-8')
print(type(bytes_), bytes_)
letters = bytes_.decode('UTF-8')
print(type(letters), letters)

<class 'bytes'> b'hello'
<class 'str'> hello

##String Comparison

Strings are compared character by character accordingly to their numeric code (Unicode: UTF-8, UTF-16, or UTF-32). For example, '10' is lesser than '2' because the first character '1' of the string '10' is lesser than the first charter '2' of the string '2'. In general, you cannot compare sequences of digits in the same way as we compare numbers, integers and floats. However, you can make it to work, if you use the leading '0's. For example, '02' is lesser than '10'.

In [ ]:
a = '1'
b = '10'
c = '2'
print(a > b)
print(int(a) > int(b))
print(b > c)
print(int(b) > int(c))

False
False
False
True

##Raw Strings and Escape Sequences

In [ ]:
# using an escape character, a backslash
person = 'Sam'
print(f'{person} ..................\
hello')

Sam ..................hello

In [ ]:
print ("First Line\nSecond Line\n")  # this is a string
print (r"First Line\nSecond Line\n") # this is a raw string

First Line
Second Line

First Line\nSecond Line\n

In [ ]:
# print statements with escape sequences
print ('First Line\nSecond Line')
print ('price\t$4.99')
print ('It will be erased\r okay')
print ('dogz\bs')

# escape the special meaning of special characters
print ('a backslash \\')
print ("a double quote \"yes\" ")

First Line
Second Line
price	$4.99
 okay
dogzs
a backslash \
a double quote "yes"

##Regular Expressions

Regular expessions (***RE*** or ***regex***) are used to search strings for patterns. A **pattern** can be a string that is composed of specified characters.

For example, a pattern is a string made of digits. In regex, we can define it as '\d+' where '\d' is a digit (0, 1, 2, ..., 9) and '+' is a repetition operator, so '\d' can be repeated several times (once or more). We can use this pattern to find numbers (integers) within text.

Another pattern is a word (in computer science, a word is a combination of letters, digits, and underscores). In regex, we can define a word as '\w+', where '\w' is a character from a set composed of all letters, digits, and underscore and '+' is a repetition operator, so '\w' can be repeated several times (once or more). We can use this pattern to find words within text.

A **regular expression** is an expression composed of special symbols (\d, \W, \w, etc.) and string characters (*, ., +, *, A, 1, -, etc.) that is used for generating strings that belong to a regular language. A regular expression is handled by a finite automaton (a state machine) that can be implemented in code. Usage of finite automata for searching string patterns is very fast and efficient.

In [ ]:
import re
pattern = re.compile(r'\d+') # finds numbers in the text
matches = pattern.findall('5005 students and 234 teachers')
print(matches)

['5005', '234']

In [ ]:
import re
text = 'Hello, 007! First Line.\nSecond Line\nThird Line.'
#print(text)
pattern = re.compile(r'\w+') # finds words in the text
matches = pattern.findall(text)
print(matches)

['Hello', '007', 'First', 'Line', 'Second', 'Line', 'Third', 'Line']

In [ ]:
# validating identifiers
import re
pattern = re.compile ( r'^[A-Za-z_]\w*$' )

identifier = input("Enter an identifier: ")
match = pattern.search(identifier)
if match :
           print("It is a valid identifier.")
else :
           print("It is not a valid identifier.")

Enter an identifier: a234
It is a valid identifier.

In [ ]:
# verifying a valid password
import re
p_upper = re.compile(r'[A-Z]')
p_lower = re.compile(r'[a-z]')
p_digit = re.compile(r'[0-9]')
p_symbol = re.compile(r'[@#$%&?! ]')
while True :
    password = input("Enter a password: ")
    m_lower = p_lower.search(password)
    m_upper = p_upper.search(password)
    m_digit = p_digit.search(password)
    m_symbol = p_symbol.search(password)

    if not m_lower :
        print ("You need to use a lowercase letter.")
        continue
    if not m_upper :
        print ("You need to use an uppercase letter.")
        continue
    if not m_digit :
        print ("You need to use a digit.")
        continue
    if not m_symbol :
        print ("You need to use a special character.")
        continue
    break

Enter a password: adr$
You need to use an uppercase letter.
Enter a password: Asdr3
You need to use a special character.
Enter a password: Asd#4

In [ ]:
# finding phone numbers in text
import re
p = re.compile(r'\(?\d{3}\)?-?\d{3}-?\d{4}')
while True :
    text = input("Enter text with phone numbers: ")
    m1 = p.search(text)
    if m1 :
        print ("Search group: ", m1.group())
    else :
        print ("Search: no number")
        continue
    m2 = p.findall(text)
    print ("Findall: ", m2)
    for m in m2 :
        print ("Findall group: ", m)
    m3 = p.match(text)
    if m3 :
        print ("Match: ", m3.group())
    else :
        print ("Match: no match")
    break

Enter text with phone numbers: my number is (123)123-1234
Search group:  (123)123-1234
Findall:  ['(123)123-1234']
Findall group:  (123)123-1234
Match: no match

# Lecture 10 - Lists
* List Definition
* List Traversal
* List Slicing
* List Functions
* List Methods
* Nested Lists

A list is an ordered data collection that contains items of the same or mixed data types.

In [ ]:
classes = ['English', 'Math', 'Biology', 'Chemistry',  'Latin']
print(classes)
sports = ['baseball', 'soccer', 'football', 'basketball', 'tennis']
print(sports)

['English', 'Math', 'Biology', 'Chemistry', 'Latin']
['baseball', 'soccer', 'football', 'basketball', 'tennis']

In [ ]:
favorites = ['dog', 'cat', 5, True, 'Summer 2002', 'A+', [1, 2, 3] ]
print(favorites)
person = ['Alec', 1998, 'May', 25, 'San Francisco', 'CA', 95034 ]
print(person)

['dog', 'cat', 5, True, 'Summer 2002', 'A+', [1, 2, 3]]
['Alec', 1998, 'May', 25, 'San Francisco', 'CA', 95034]

In [ ]:
mylist = [ ]    # make an empty list
print(mylist)
items = list()  # make another empty list
print(items)

[]
[]

In [ ]:
spell_list = list('Tennessee') # make a list from a sequence of characters (a string)
print(spell_list)

['T', 'e', 'n', 'n', 'e', 's', 's', 'e', 'e']

##List Traversal

In [ ]:
# traverse a list
arts = [ 'Painting', 'Sculpturing', 'Architecture',  'Literature', 'Music', 'Theater']
for item in arts :
    print (item)

Painting
Sculpturing
Architecture
Literature
Music
Theater

##Modifying a List

In [ ]:
# modify items in a list
genres =  ['Action', 'Mystery', 'Fantasy', 'Romance', 'Drama']
for i in range (len(genres)) :
    genres[i] = genres[i].lower() # changes all letters in each word to lowercase letters
print (genres)
genres[0] = 'adventure' # changes the value of the first item from 'action' to 'adventure'
genres[2] = 'sci-fi'    # changes the value of the third item from 'fantasy' to 'sci-fi'
print (genres)

['action', 'mystery', 'fantasy', 'romance', 'drama']
['adventure', 'mystery', 'sci-fi', 'romance', 'drama']

##List Indexing and Slicing

In [ ]:
# list indexing
countries= ['USA', 'China', 'France', 'Russia', 'India', 'Egypt', 'Brazil']
print(countries[0])
print(countries[3])
print(countries[-1])
print(countries[-3])

In [ ]:
# list slicing
print (countries[1:3])
print (countries[3: ])
print (countries[::-1])
print (countries[-1::-2])

['China', 'France']
['Russia', 'India', 'Egypt', 'Brazil']
['Brazil', 'Egypt', 'India', 'Russia', 'France', 'China', 'USA']
['Brazil', 'India', 'France', 'USA']

##Built-In Fuctions with Lists

In [ ]:
# using built-in functions with lists of strings
colors=['magenta', 'cyan', 'coral', 'rose', '']
print (sorted(colors))
print (len(colors)) # returns the number of items in a list
print (all(colors)) # returns False because the list has an empty string ''
print (any(colors)) # returns True because the list has at least one item that is not an empty string''

In [ ]:
# using built-in functions with lists of integers
nums = [1, 3, 5, 0, 4, 2]
print (sorted(nums))
print(nums)
print (len(nums))   # returns the number of items in a list
print (sum(nums))   # returns the sum of all numbers in a list
print (all(nums))   # returns False because the list has 0
print (any(nums))   # returns True because the list has at least one item that is not 0

[0, 1, 2, 3, 4, 5]
[1, 3, 5, 0, 4, 2]
6
15
False
True

##List Methods

In [ ]:
# adding items to a list
listA = [5, 4, 3, 2, 1]
print(listA)
listA.append(0)     # adds an item (0) to the end of the list
print (listA)
listA.insert(1, 6)  # inserts an item (6) at index 1 in the list
print (listA)
listA.insert(2, 7)  # inserts an item (7) at index 2 in the list
print (listA)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1, 0]
[5, 6, 4, 3, 2, 1, 0]
[5, 6, 7, 4, 3, 2, 1, 0]

In [ ]:
# removing items from a list
listA = [5, 4, 3, 2, 1]
print(listA)
listA.remove(4)     # removes an item (4) from the list
print (listA)
num = listA.pop()   # retrieves and removes the last item from the list
print (num)
print(listA)
num = listA.pop(2)   # retrieves and removes the item at index 1 from the list
print (num)
print(listA)

[5, 4, 3, 2, 1]
[5, 3, 2, 1]
1
[5, 3, 2]
2
[5, 3]

##Sorting a List

In [ ]:
# sorting a list
listA = [5, 4, 3, 2, 1]
print(listA)
listA.sort()
print (listA)
listA.reverse()
print (listA)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

##Searching a List

In [ ]:
# approach 1
students = ['Alice', 'Ben', 'Carol', 'Dan', 'Mark', 'Ben', 'Ben']

count = students.count('Ben')
print(f'There are {count} students with the name \'Ben\':')

i = 0
for k in range(count):
    i = students.index('Ben', i)
    print(i)
    i += 1

There are 3 students with the name 'Ben':
1
5
6

In [ ]:
# approach 2
students = ['Alice', 'Ben', 'Carol', 'Dan', 'Mark', 'Ben', 'Ben']
number = len(students)
count = 0
for i in range(number):
    if students[i] == 'Ben':
        print(i)
        count += 1
print(f'There are {count} students with the name \'Ben\'.')

1
5
6
There are 3 students with the name 'Ben'.

##A Shopping Cart - Practicing with List Methods Append, Insert, and Pop

In [ ]:
#
# A shopping cart program
#

#create an empty list and add grocery items to the list
grocery_list = []
while True :
    item = input("Enter a grocery item you want to buy: ")
    if item == '':
        break
    else :
        grocery_list.append(item)
print ("Your grocery list is ", grocery_list)

# remove the bought items from the list and add them to the cart
cart = []
n = len(grocery_list)
for i in range(n) :
    item = grocery_list.pop(0)
    ans = input("Do you want to buy " + item + "? ").upper()
    if (ans.startswith('Y')):
        cart.insert(0,item)
    else:
        grocery_list.append(item)
print ("Your shopping cart is ", cart)

Enter a grocery item you want to buy: banana
Enter a grocery item you want to buy: apples
Enter a grocery item you want to buy: water
Enter a grocery item you want to buy:
Your grocery list is  ['banana', 'apples', 'water']
Do you want to buy banana? yes
Do you want to buy apples? no
Do you want to buy water? yes
Your shopping cart is  ['water', 'banana']

##Nested Lists

In [ ]:
# accessing inner lists
records = [['Alice', 'Ben', 'Carol', 'Dan'],
           [20, 21, 19, 18],
           ['math', 'economics', 'arts', '']]

names = records[0]
print (names)

ages = records[1]
print (ages)

majors = records[2]
print (majors)

['Alice', 'Ben', 'Carol', 'Dan']
[20, 21, 19, 18]
['math', 'economics', 'arts', '']

In [ ]:
# accessing items from the inner lists
records = [ ['Alice', 'Ben', 'Carol', 'Dan'],
            [20, 21, 19, 18],
            ['math', 'economics', 'arts', '']]
name1 = records[0][0]
print (name1)
print (records[0][2])
print (records[1][2])

Alice
Carol
19

In [ ]:
# traversing a nested list
records = [ ['Alice', 'Ben', 'Carol', 'Dan'],
            [20, 21, 19, 18],
            ['math', 'economics', 'arts', '']]
for record in records:
      for item in record:
            print (item, end=', ')
      print()

Alice, Ben, Carol, Dan,
20, 21, 19, 18,
math, economics, arts, ,

##Matrix

Nested lists or other data structures can be used to implement matrices. A matrix is a two-dimentional array where each item (an element) can be accessed by its row index and column index. For example, matrix A is 3 x 3 matrix that can be represented as a nested list:

A = [ [0, 1, 2],
      [3, 4, 5],
      [6, 7, 8] ]
      
where [0, 1, 2], [3, 4, 5], [6, 7, 8] are three rows with three items in each row.

In [ ]:
# matrix addition
A = [ [0, 0, 1],
      [0, 4, 0],
      [6, 0, 0] ]

B = [ [1, 1, 1],
      [0, 0, 0],
      [1, 1, 1]]

C = [] # [[1, 1, 2 ], [0,4, 0 ], [] ]   [[0, 0, 0], [1, 3, 4], []]
for i in range(len(A)):
    C.append([])
    for j in range(len(A[i])):
          C[i].append(A[i][j] + B[i][j])
    print(C[i])
print(len(C))

[1, 1, 2]
[0, 4, 0]
[7, 1, 1]
3

##Manipulating Lists

In [ ]:
cars = ["Toyota", "Honda", "Ford", "Volvo", "Ferrari"]
newlist = []                 # make an empty list
for item in cars:
    newlist.append(item)     # add an item to a list
    print(newlist)

['Toyota']
['Toyota', 'Honda']
['Toyota', 'Honda', 'Ford']
['Toyota', 'Honda', 'Ford', 'Volvo']
['Toyota', 'Honda', 'Ford', 'Volvo', 'Ferrari']

In [ ]:
# first run the code above
print(newlist)

m, n = 2, 4
for i in range(5):
    item = newlist.pop(m)       # remove an item from the m-position in the list
    newlist.insert(n, item)     # insert an item at the n-position in the list
    print(newlist)

['Ford', 'Honda', 'Toyota', 'Volvo', 'Ferrari']
['Ford', 'Honda', 'Volvo', 'Ferrari', 'Toyota']
['Ford', 'Honda', 'Ferrari', 'Toyota', 'Volvo']
['Ford', 'Honda', 'Toyota', 'Volvo', 'Ferrari']
['Ford', 'Honda', 'Volvo', 'Ferrari', 'Toyota']
['Ford', 'Honda', 'Ferrari', 'Toyota', 'Volvo']

# Lecture 11 - Dictionaries
* Dictionary Definition
* Dictionary Traversal
* Dictionary Functions
* Dictionary Methods
* Nested Data Collections
* Comparison between Dictionary and List

##Creating a Dictionary

A dictionary is a data collection of unordered key-value pairs where keys are unique and immutable.
Dictionaries are also called associative arrays or associative memories.Dictionaries are used in data storage (databases) where efficient retrieval is essential, e.g. a phone number lookup, a grammar checker, a library catalogue.

In [ ]:
phones = {'Forest' : 8314567890,  'Miguel' : 8311234567,  'Sasha' : 8316788901,  'Aziz' : 8312345678}
print('Phones:', phones)
books = {1234 : 'Gone with the wind', 3456 : 'War and Peace', 7890 : 'Rigvega', 4567 : 'Lunyu'}
print('Books:', books)

Phones: {'Forest': 8314567890, 'Miguel': 8311234567, 'Sasha': 8316788901, 'Aziz': 8312345678}
Books: {1234: 'Gone with the wind', 3456: 'War and Peace', 7890: 'Rigvega', 4567: 'Lunyu'}

Dictionaries can be made in different ways - items can be imported from other dictionaries or data collections.

In [ ]:
# using the dictionary method update()
new_records = {}
old_records = {'alice' :  'chemistry',
              'ben'  :  'math',
              'clara' :  'history' }
print(new_records)
new_records.update(old_records)
print(new_records)

In [ ]:
# using the function dict() with keyword arguments
empty = dict()
new_data = dict(alice = 'chemistry', ben  = 'math', clara = 'history')
print(new_data)

{'alice': 'chemistry', 'ben': 'math', 'clara': 'history'}

In [ ]:
# using the function dict() with a list of tuples
new_data = dict([('alice','chemistry'), ('ben','math'), ('clara', 'history')])
print (new_data)

##Accessing and Modifying Dictionary Values

In [ ]:
records = {'alice' :  'chemistry',
           'ben'  :  'math',
           'clara' :  'history' }
print(records['alice'])  # access the value of the key 'alice'
records['alice'] = 'biology' # change the value of the key 'alice'
print(records['alice'])
print(records)
records['dave'] = 'computer science' # add a new key-value pair
del records['clara']                 # delete a key-value pair
print(records)

chemistry
biology
{'alice': 'biology', 'ben': 'math', 'clara': 'history'}
{'alice': 'biology', 'ben': 'math', 'dave': 'computer science'}

##Traversing a Dictionary

In [ ]:
records = {'alice' :  'chemistry',
           'ben'  :  'math',
           'clara' :  'history' }
print ('Method 1:')
for key, value in records.items():
      print ( f'{key} : {value}') # custom print of key-value pairs
print('\nMethod 2:')
for pair in records.items():
      print (pair)                # print dictionary key-value pairs as tuples

Method 1:
alice : chemistry
ben : math
clara : history

Method 2:
('alice', 'chemistry')
('ben', 'math')
('clara', 'history')

In [ ]:
records = {'alice' :  'chemistry',
           'ben'  :  'math',
           'clara' :  'history' }
# traverse only keys
print('Dictionary keys:')
for key in records.keys():
      print (key, end='; ')
# traverse only values
print('\n\nDictionary values:')
for value in records.values():
      print (value, end='; ')

print('\n\nDictionary items:')
for item in records.items():
      print (item, end='; ')

Dictionary keys:
alice; ben; clara;

Dictionary values:
chemistry; math; history;

Dictionary items:
('alice', 'chemistry'); ('ben', 'math'); ('clara', 'history');

##Self-Testing

Could you predict the output of the following code?

In [ ]:
hobbies = {'sport': 'hockey', 'book': 'sci-fi',
           'music': 'disco', 'cook':'cakes',
           'game': 'chess'  }
del hobbies['game']
hobbies['vacation'] = 'camping'
hobbies['music'] = 'country music'
for v in hobbies.values():
      print (v)

hockey
sci-fi
country music
cakes
camping

##Dictionary Methods: Get, Pop, Update, and Clear

In [ ]:
movies = {'avatar':2009, 'ironman':2013, 'titanic':1997, 'starwars':2015}
year_avatar = movies.get('avatar')              # returns the key value
year_titanic = movies.pop('titanic')            # returns the key value and deletes the pair
print(year_titanic)
#year_titanic = movies['titanic']               # makes an error
year_titanic = movies.get('titanic')            # a safe approach to get values, get() returns None
print(year_titanic)
year_titanic = movies.get('titanic', 0)         # returns the default value 0
print(year_titanic)

new_movies = {'abominable':2019, 'jumanji':2019}
movies.update(new_movies)
new_movies.clear()
print (movies)
print (new_movies)

##Nested Dictionaries and Data Collections

In [ ]:
# example of a nested dictionary
records = { 'alice' :  {'major': 'chemistry', 'age': 20},
            'ben' :  {'major': 'math', 'age':18},
            'clara' : {'major' : 'history', 'age' : 19} }
print(records['alice'])          # print the value of the key 'alice' of the outer dictionary
print(records['alice']['major']) # print the value of the key 'major' of the inner dictionary

In [ ]:
# example of a list of dictionaries
records = [ {'alice': 'chemistry',  'ben' : 'math', 'clara' : 'history'},
            {'alice': 20, 'ben':18, 'clara':19} ]
print(records[1])              # print the fist list item, the first dictionary
print(records[0]['alice'])    # print the value of the key 'alice' in the fist dictionary
print(records[0].get('alice')) # print the value of the key 'alice' in the fist dictionary using a more safe approach

In [ ]:
# example of a dictionary of lists
records = { 'alice': ['chemistry', 20],
             'ben' :  ['math', 18],
            'clara' : ['history', 19] }
print(records['alice'])     # print the value of the key 'alice'
print(records['alice'][0])  # print the fist item in the list that is the value of the key 'alice'

##Dictionary Applications


1.   Databases and Information Retrieval
2.   Communications (Internet Exchange Forms, e.g., JSON (JavaScript Object Notation) Files)

In [ ]:
data = { "firstName": "John",
"lastName": "Smith",
"isAlive": True,
"age": 27,
"address": { "street Address": "21 2nd Street", "city": "New York", "state": "NY", "postalCode": "10021-3100" },
"phoneNumbers": [ { "type": "home", "number": "212 555-1234" }, {"type": "office", "number": "646 555-4567" } ],
"children": [],
"spouse": None }
print(data)

##Creating a Dictionary from Text

In [ ]:
text = 'This is a test . That is another test .'
words =  text.lower().split()
d = {}
print(words)
for word in words:
    d[word] = d.get(word, 0) + 1
print(d)

['this', 'is', 'a', 'test', '.', 'that', 'is', 'another', 'test', '.']
{'this': 1, 'is': 2, 'a': 1, 'test': 2, '.': 2, 'that': 1, 'another': 1}

# Lecture 12 - Tuples, Arrays, and Sets
* Data Collections
  * Mutable and Immutable
  * Arrays vs Lists
  * Tuples vs Lists
  * Dictionaries vs Lists
* Tuples
  * Tuple Definition
  * Tuple Functions and Methods
  * Casting, Packing, and Zipping
* Arrays
  * Array Definition
  * Array Functions and Methods
* Sets
  * Set Definition
  * Set Functions and Methods
  * Difference, Union, and Intersection
* Frozensets
  * Frozenset Definition
  * Frozenset Applications
* Comparison of Data Collections

##Tuples

A tuple is an immutable ordered sequence of items and thus is also an immutable list.

We use parantheses to declare tuples.

###Creating a Tuple

In [ ]:
suits = ('Clubs', 'Diamonds', 'Hearts', 'Spades')
ranks = (2, 3, 4, 5, 6, 7, 8, 9, 10, 'J', 'Q', 'K', 'A')
print(f'There are {len(suits)} card suits: {suits}')
print(f'There are {len(ranks)} card ranks: {ranks}')

There are 4 card suits: ('Clubs', 'Diamonds', 'Hearts', 'Spades')
There are 13 card ranks: (2, 3, 4, 5, 6, 7, 8, 9, 10, 'J', 'Q', 'K', 'A')

In [ ]:
empty_tuple = ()        # make an empty tuple
one_item_tuple = (1, )  # make a one-item tuple
not_a_tuple = (1)       # makes an integer, not a tuple!!!
print(empty_tuple)
print(one_item_tuple)
print(type(one_item_tuple))
print(not_a_tuple)
print(type(not_a_tuple))

()
(1,)
<class 'tuple'>
1
<class 'int'>

###Tuple Traversal

In [ ]:
suits = ('Clubs', 'Diamonds', 'Hearts', 'Spades')        # a tuple
ranks = (2, 3, 4, 5, 6, 7, 8, 9, 10, 'J', 'Q', 'K', 'A')  # a tuple
deck = [ ]                                               # a list
for s in suits :
     for r in ranks :
           deck.append ( (s, r) ) # add a tuple (a card) to a list (the deck)
print(deck)

[('Clubs', 2), ('Clubs', 3), ('Clubs', 4), ('Clubs', 5), ('Clubs', 6), ('Clubs', 7), ('Clubs', 8), ('Clubs', 9), ('Clubs', 10), ('Clubs', 'J'), ('Clubs', 'Q'), ('Clubs', 'K'), ('Clubs', 'A'), ('Diamonds', 2), ('Diamonds', 3), ('Diamonds', 4), ('Diamonds', 5), ('Diamonds', 6), ('Diamonds', 7), ('Diamonds', 8), ('Diamonds', 9), ('Diamonds', 10), ('Diamonds', 'J'), ('Diamonds', 'Q'), ('Diamonds', 'K'), ('Diamonds', 'A'), ('Hearts', 2), ('Hearts', 3), ('Hearts', 4), ('Hearts', 5), ('Hearts', 6), ('Hearts', 7), ('Hearts', 8), ('Hearts', 9), ('Hearts', 10), ('Hearts', 'J'), ('Hearts', 'Q'), ('Hearts', 'K'), ('Hearts', 'A'), ('Spades', 2), ('Spades', 3), ('Spades', 4), ('Spades', 5), ('Spades', 6), ('Spades', 7), ('Spades', 8), ('Spades', 9), ('Spades', 10), ('Spades', 'J'), ('Spades', 'Q'), ('Spades', 'K'), ('Spades', 'A')]

###Tuple Concatenation

Tuples are immutable and cannot be changed - no items can be removed or added to tuples! However, we can use tuple concatenation to combine tuples.

In [ ]:
t1 = ()
for i in range (3) :
      item = input( 'Enter an item:  ')
      t1 += ( item, )
print(t1)

Enter an item:  dogs
Enter an item:  cats
Enter an item:  mice
('dogs', 'cats', 'mice')

###Tuple Packing and Unpacking

In [ ]:
t1 = 1, 2, 3, 4, 5    # pack a tuple - add items to a tuple
print(t1)
a, b, c, d, e = t1    # unpack a tuple - assign variables to tuple items
print(a)
print(t1)

(1, 2, 3, 4, 5)
1
(1, 2, 3, 4, 5)

###Zip Function

Zip function is used to create a collection of tuples made of items from different data collections such as lists, tuples, sets, etc.

In [ ]:
animals = ('hydra', 'worm', 'insect',  'lion') # could be a list, set, array, frozenset instead of a tuple
habitat = ('water', 'underground', 'trees', 'mountains')
zoo_list = list(zip(animals, habitat))
print(zoo_list)

[('hydra', 'water'), ('worm', 'underground'), ('insect', 'trees'), ('lion', 'mountains')]

In [ ]:
x_coord = [1, 2, 3, 4]
y_coord = [1, 4, 9, 16]
z_coord = [0, 0, 0, 0, 0]
points = list(zip(x_coord, y_coord, z_coord))
print(points)

[(1, 1, 0), (2, 4, 0), (3, 9, 0), (4, 16, 0)]

##Arrays

An array is an ordered sequence of items of the same data type that are allocated in memory as one continuous block for efficient memory operations.

###Creating an Array

In [ ]:
from array import array
letter_codes = array('b', [96, 97, 98])  # make an array of bytes
print(letter_codes)
numbers = array('i', [1,2,3])            # make an array of integers
print(numbers)

array('b', [96, 97, 98])
array('i', [1, 2, 3])

In [ ]:
from array import array
# make an array of bytes
letter_codes = array('b' )
alphabet = 'abcdefghijklmnopqrstuvwxyz'
for letter in alphabet:
	letter_codes.append(ord(letter))
print(letter_codes)

# make an array of integers (integer = 2 bytes of memory)
digits = array('i')
for num in range (10):
	digits.append(num)
print(digits)

array('b', [97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122])
array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

##Set

A set is an unordered collection of unique items that can be used to perform set operations such as union, intersection and difference.

###Creating a Set

In [ ]:
salad = {'tomato', 'onion', 'cucumber', 'onion', 'pepper'} # make a set
print(salad) # notice that there are no duplicate entries - no two 'onion'
             # also, the order of items is unimportant and irrelevant
             # it can be different on different machines!!!

In [ ]:
empty_dictionary = {}          # makes an empty dictionary, not a set!!!
empty_set = set()              # make an empty set
print(empty_set)
print(type(empty_set))

###Set Casting

We can convert various sequences and data collections into a set using the casting function set().

In [ ]:
fruit = [ 'apple', 'pear', 'plum', 'cherry', 'pear']
set1 = set(fruit)  # convert a list into a set
print(set1)
set2 = set('apple') # convert a string (a sequence of letters) into a set
print(set2)

{'pear', 'cherry', 'plum', 'apple'}
{'a', 'p', 'e', 'l'}

###Set Operations

Operations on sets are union, intersection, and difference.

A union of given sets is a set that contains all elements (items) that are present in the given sets.

An intersection of given sets is a set that contains only elements (items) that are present in all given sets.

A difference of given sets is a set that contains elements (items) that are present in the first given set and absent in the other given sets. Differences of the same sets are different, e.g., difference of set A and B is not the same is the difference of the set B and A.

A symmetric difference of given sets is a set that contains elements (items) that are present in all differences of the given sets. So, the symmentric difference of set A and set B is always the same as the symmetric difference of set B and set A!!!

In [ ]:
cats = {'cat', 'lion', 'cheetah', 'tiger', 'jaguar', 'leopard'}
endangered_species = {'leopard', 'cheetah', 'tiger', 'jaguar', 'elephant'}
print('Union is:', cats | endangered_species)  # find a union
print('Intersection is:', cats & endangered_species)  # find an intersection
print('Difference is:', cats - endangered_species)  # find a difference
print('Symmetric difference is:', cats ^ endangered_species)  # find a symmetric difference (exclusive OR)

###Self-Testing

Can you find a list of names common to all given lists?

list1 = ['anna', 'maria', 'albert', 'pete', 'mike']

list2 = ['anna', 'albert', 'pete', 'kate', 'nick']

Can you find a list of names unique to each list?

In [ ]:
list1 = ['anna', 'maria', 'albert', 'pete', 'mike']
list2 = ['anna', 'albert', 'pete', 'kate', 'nick']
set1 = set(list1)
set2 = set(list2)
print('These names are common to both lists:')
print(set1.intersection(set2))                # equivalent to print(set1 & set2)
print('These names are unique to list 1:')
print(set1.difference(set2))                  # equivalent to print(set1 - set2)
print('These names are unique to list 2:')
print(set2.difference(set1))                  # equivalent to print(set2 - set1)
print('These names are unique to both lists:')
print(set2.symmetric_difference(set1))        # equivalent to print(set2 ^ set1)

These names are common to both lists:
{'anna', 'pete', 'albert'}
These names are unique to list 1:
{'mike', 'maria'}
These names are unique to list 2:
{'kate', 'nick'}
These names are unique to both lists:
{'mike', 'maria', 'kate', 'nick'}

##Frozenset

A frozenset is an immutable, unordered collection of unique items and thus also is an immutable set. There are no frozenset methods that can change frozensets - we cannot add or delete items from frozensets because frozensets are immutable!!!

In [ ]:
permanent_bank_accounts = frozenset([101, 203, 233, 24])
print(permanent_bank_accounts)

In [ ]:
keys = frozenset([1, 2, 3])
values = frozenset(['alice', 'bob', 'clara'])
d = {}
for ... :
    d? = ?

# Lecture 13 - Exceptions
* Programming Errors
  * Runtime and Syntax Errors
* Exceptions
  * Try-Except Statement
  * Exception Types
* Logical Errors
  * Infinite Loops
  * Off-by-1
  * Logical Fallacies
  * Misconceptions: Birthday Paradox
  * Typo-like Errors
* Debugging and Call Stack

A programming error is an incorrect performance of the program. Programming errors are divided into two classes: syntax and runtime errors. Runtime errors occur during the program run, whereas syntax errors are detected by the interpreter before the program run.

Not all runtime errors are detected during the program run. Runtime errors that are detected during the program run are called exceptions. Exceptions result in the premature termination of the program (program crash). Programmers can create, raise (throw), and catch exceptions. There are many built-in exceptions: IOError, ValueError, TypeError, ZeroDivisionError, etc.

There are runtime errors that do not result in the premature termination of the program. They are logical errors commonly known as bugs. Logical errors result in incorrect behavior of the program: infinite loops, wrong results, incorrect output, instability, and unexpected chaotic behavior and unpredictability of the program.

##Syntax Errors

In [ ]:
print('Hello!)    # missing a punctuation mark

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-1-cdf89c23b9a6>, line 1)

In [ ]:
pass = 1           # using invalid identifiers

SyntaxError: invalid syntax (<ipython-input-2-742d4530b0b6>, line 1)

In [ ]:
for k in range(3):
print(k)           # using incorrect formatting and indentation

IndentationError: expected an indented block after 'for' statement on line 1 (<ipython-input-3-c3fefaab03d0>, line 2)

##Exceptions

###Division of Integers

In [ ]:
# Example 1: Number Division
try:
  print ('Division of Integers')
  num1 = int(input('Enter a dividend: '))
  num2 = int(input('Enter a divisor: '))
  quotient = num1 // num2
  remainder = num1 % num2
except ValueError:
  print ('It is not an integer!')
except ZeroDivisionError:
  print ('Division by zero is prohibited!')
else:
  print (f'{num1} : {num2} = {quotient} with the remainder {remainder}.')
finally:
  print ('This is the end of the program. Goodbye!')

Division of Integers
Enter a dividend: 10
Enter a divisor: 0
Division by zero is prohibited!
This is the end of the program. Goodbye!

###Finding the Average

In [ ]:
# Example 2: Finding the Average of Numbers
count = 0
sum = 0.0
nums = [ ]
while count != 10 :
    try :
        num = float(input('Enter a number:'))
        sum += num
        count += 1
        nums.append(num)
    except ValueError:
        print  ('It is not a number! Try again.')
avg = sum / count
print ( f'The average of {nums} is {avg}.')

Enter a number:10
Enter a number:23
Enter a number:12
Enter a number:12
Enter a number:4
Enter a number:2
Enter a number:3
Enter a number:4
Enter a number:5
Enter a number:6
The average of [10.0, 23.0, 12.0, 12.0, 4.0, 2.0, 3.0, 4.0, 5.0, 6.0] is 8.1.

###Raise Exceptions

In [ ]:
# Example 1
class MyException(Exception):
  pass
x = -1
if x < 0:
  raise MyException('The number is negative!')

In [ ]:
# Example 2
data = '123'
if not type(data) is int:
  raise TypeError('The value is not an integer!')

##Logical Errors

In [ ]:
num1, num2 = 3, 5
avg = num1 + num2 / 2    # a logical error due to missing parentheses!!!
print(avg)

In [ ]:
count = 0
while count < 3 :
  print(count)
count += 1       		    # a logical error - infinite loop - due to a wrong indentation

0
1
2

##Debugging

Debugging is a process of identifying and fixing the code that generates errors.

###Assert Statements

In [ ]:
def avg(*args):
  return (sum(args) / len(args))

a, b, c = 1, 2, 3
average = avg(a,b,c)
assert average == 2.0    # check the average function
print(average)

In [ ]:
def avg_incorrect(a, b):
  return a + b / 2

num1, num2, num3 = 2, 4, 3
average = avg_incorrect(num1, num2)
try:
  assert average == num3
except AssertionError:
  print(f"There is an assertion error: the average of {num1} and {num2} is not equal to {num3}!")
else:
  print(f"The average of {num1} and {num2} is {average}.")

There is an assertion error: the average of 2 and 4 is not equal to 3!

###Call Stack

In [ ]:
import traceback

def read_file():
    try:
        print("Printing each line in text file:")
        with open("japan.txt") as file_handler:
            for each_line in file_handler:
                print(each_line, end="")
    except IOError:
        print ("Printing the call stack:")
        traceback.print_stack()
def main():
    read_file()
if __name__ == "__main__":
    main()

###Unit Test

In [ ]:
# Generate a formatted full name including a middle name
def formatted_name(first_name, last_name, middle_name=''):
   if len(middle_name) > 0:
       full_name = first_name  + ' ' + middle_name + ' ' + last_name
   else:
       full_name = first_name + ' ' + last_name
   return full_name.title()

In [ ]:
import unittest
#from test_module import formatted_name

class TestCase(unittest.TestCase):
    def test_first_last_name(self):
        result = formatted_name("pete", "seeger")
        self.assertEqual(result, "Pete Seeger")

    def test_first_last_middle_name(self):
        result = formatted_name("raymond", "reddington", "red")
        self.assertEqual(result, "Raymond Red Reddington")

In [ ]:
if __name__ == '__main__':
    unittest.main()

# Lecture 14 - Files
* Input and Output Devices
* Memory
  * RAM
  * ROM
  * Storage Memory
* Files
  * OS and File Management
  * Root, Directories, Subdirectories, and Files
  * File Types
* Text Files
  * File Encoding: ASCII and Unicode
  * File Attributes
  * Openning Files
  * Reading Files
  * Writing Files
  * with Statement
  * File Methods
* Binary Files
  * File Encoding, Codecs, Compression
  * Binary File Types
    * Image Files
    * Audio Files
  * Reading Files
  * Writing Files

##Files

A file is a memory structure that is used for storing data on storage devices such as hard disk, floppy disk, flash drive, CD, DVD, memory card, etc.

There are two types of primary memory:

1. Read Only Memory (ROM)
2. Randomly Accessed Memory (RAM)

ROM is used by OS (Operating System) for booting the computer and some devices, whereas RAM is used by CPU (Central Processing Unit) for loading programs and data into it for quick access.

Storage memory is different from RAM and ROM; it is also called secondary memory. Data from storage memory can be loaded into RAM as well as data from RAM can be saved in storage memory. To do such operations in programs, we use file handlers that allows us to operate on files.

##Creating and Writing Files

Let's create a simple text file 'hello.txt':

In [ ]:
try :
  file1 = open ('hello.txt', 'w') # create a file handler
  print(type(file1))
  file1.write('Hello!\nHow are you?')
except IOError :
  print ('File cannot be created!')
else:
  file1.close()

<class '_io.TextIOWrapper'>

##Reading Files

Let's read the file 'hello.txt':

In [ ]:
try :
  file1 = open ('hello.txt', 'r') # create a file handler
  output = file1.read()
  print(f'The output is:\n{output}')
except IOError :
  print ('File cannot be created!')
else:
  file1.close()

The output is:
Hello!
How are you?

##Colab Google Drive
If we want to save or retrieve a file on the Google Drive, we need to proceed in the following way:

In [ ]:
# for running on colab
from google.colab import drive
drive.mount('/content/gdrive')
dir = '/content/gdrive/My Drive/Data'
try :
  file1 = open (f'{dir}/message.txt', 'r') # create a file handler
  for line in file1 :
    print(line, end ='')
except IOError :
  print ('File cannot be opened!')
else:
  file1.close()                 # delete the file handler

Mounted at /content/gdrive
HELLO!
HOW ARE YOU?

In [ ]:
try:
  with open ('hello.py', 'r') as file1:
    for line in file1 :
      print(line)
except IOError :
  print ('File cannot be opened!')

File cannot be opened!

##Programming Example

The following program reads a text file line by line, creates a vocabulary of words present in the file, and saves the vocabulary in another file.

In [ ]:
import re
dir = '/content/gdrive/My Drive/Data'
try:
  with open(f'{dir}/text.txt', 'r') as infile, open(f'{dir}/dictionary.txt', 'w') as outfile:
    voc = dict()
    for line in infile:
      words = line.strip().split()
      for w in words:
        w = re.sub(r'[^\w\s]', '', w)
        if w != '':
          voc[w] = voc.get(w, 0) + 1
    sorted_voc = sorted(voc)
    for key in sorted_voc :
      outfile.write(key + " :  " + str(voc[key])+ "\n")
except IOError :
  print ('File cannot be opened!')

Let's check the content of the file dictionary.txt

In [ ]:
dir = '/content/gdrive/My Drive/Data'
try :
  file1 = open (f'{dir}/dictionary.txt', 'r')
  print(file1.read()) # get the all lines in the file
except IOError :
  print ('File cannot be opened!')
else:
  file1.close()

A :  1
ADDED :  1
ALICE :  2
AN :  1
AS :  2
CARE :  1
CAT :  3
DEAL :  1
DEPENDS :  1
DO :  1
DOESNT :  1
DONT :  1
ENOUGH :  1
EXPLANATION :  1
FROM :  1
GET :  2
GO :  2
GOD :  1
HERE :  1
I :  3
IF :  1
IT :  1
LONG :  2
MATTER :  1
ME :  1
MUCH :  1
OH :  1
ON :  1
ONLY :  1
OUGHT :  1
PLEASE :  1
SAID :  4
SO :  1
SOMEWHERE :  1
SURE :  1
TELL :  1
THAT :  2
THE :  3
THEN :  1
TO :  4
WALK :  1
WANT :  1
WAY :  2
WHERE :  2
WHICH :  2
WOULD :  1
YOU :  4
YOURE :  1

##Binary Files
Binary files are encoded differently than text files - first, we convert any data types into bytes and then write bytes into a binary file.

In [ ]:
try :
  file1 = open ('hello-2.txt', 'wb') # create a file handler
  file1.write('Hello!'.encode('utf-8'))
  file1.write('\u2764\uFE0F'.encode('utf-8'))
except IOError :
  print ('File cannot be created!')
else:
  file1.close()

In [ ]:
try :
  file1 = open ('hello-2.txt', 'rb') # create a file handler
  output = file1.read()
  print(f'The encoded output is:\n{output}')
  print(f'The decoded output is:\n{output.decode("utf-8")}')
except IOError :
  print ('File cannot be created!')
else:
  file1.close()

The encoded output is:
b'Hello!\xe2\x9d\xa4\xef\xb8\x8f'
The decoded output is:
Hello!❤️

# Lecture 15 - Introduction to OOP
* Classes and Objects
* OOP Tenets
  * Data Encapsulation
  * Enheritance
  * Polymorphism
* Class Definition
* Constructor Method (init)
* Instantiation
* Data Attributes
* Instance Methods and Dot Notation
* Getters and Setters
* str Method

##Classes and Objects

A class is a programming structure that is used to create objects.

An object is called an instance of a class and composed of several data attributes.

##Class Car

In [ ]:
class Car:
     def __init__ (self, make, type_, color, year) :  # constructor
             self.make = make
             self.type_ = type_
             self.color = color
             self.year = year
     def print_info (self) :   # instance method
              print (f'The {self.make} is a {self.color} {self.type_} built in {self.year}.')

# main
my_car = Car ('Volvo', 'sedan', 'blue', 2016) # instantiation of an object belonging to class Car
my_car.print_info()                           # instance method call
dad_car = Car ('Ford', 'pickup', 'white', 2005)
dad_car.print_info()
sister_car = Car('Toyota', 'SUV', 'red', 2018 )
sister_car.print_info()

The Volvo is a blue sedan built in 2016.
The Ford is a white pickup built in 2005.
The Toyota is a red SUV built in 2018.

##Class Student

In [ ]:
class Student:
    occupation = "student" # class attribute
    activity = "studying"  # class attribute
    def __init__ (self, name="", major="", age=0): # constructor with parameters
        self.name = name    # data attribute
        self.major = major  # data attribute
        self.age = age      # data attribute
    def print_info(self):   # instance method
        if self.name == "" or self.major == "" or self.age == 0:
            pass
        else:
            print (f'{self.name} is {self.age} years old and studying {self.major}.')
    def print_definition(self) : # instance method
        print (f'A {Student.occupation} is a person who is {Student.activity} at school.')

# main program
alex = Student("Alex", "chemistry", 20) # instantiation of an object of class Student
anonymous = Student()                   # instantiation of another object of class Student
alex.print_info()
anonymous.print_info()
alex.print_definition()
anonymous.print_definition()

Alex is 20 years old and studying chemistry.
A student is a person who is studying at school.
A student is a person who is studying at school.

##Setters and Getters

In [ ]:
class Person :
  def __init__(self, name="", age=0):
    self.name = name
    self.age = age
  def set_name(self, name):
    self.name = name
  def set_age(self, age):
    self.age = age
  def get_name(self) :
    return self. name
  def get_age(self):
    return self.age

# main
dad = Person()
dad.name = 'Ben'   # this approach is not recommended
print(dad.name)    # this approach is not recommended

dad.set_name('Ben')  # instead of previous statements use this approach
dad.set_age(56)
print(dad.get_name() ) # use this approach
print(dad.get_age() )

Rob
Ben
56

##The str() Method

The str() method is used to visualize object data. It belongs to magic methods that allow various operations to be executed implicitly. The str() method returns a string representation of the object that is implicitly used in print statements - behind the scenes, the print function calls the class str() method and substitutes the object with its string representation.

In [ ]:
dad = Person()
dad.set_name("Ben")
dad.set_age(56)

mom = Person()
mom.set_name("Becky")
mom.set_age(46)

print(dad)
print(mom)

In [ ]:
class Person :
  def __init__(self, name="", age=0):
    self.name = name
    self.age = age
  def __str__(self):
    return (self.name + ' is '  + str(self.age) + ' years old.')
  def set_name(self, name):
    self.name = name
  def set_age(self, age):
    self.age = age
  def get_name(self) :
    return self. name
  def get_age(self):
    return self.age

# main
dad = Person()
dad.set_name('Ben')
dad.set_age(56)
mom = Person()
mom.set_name('Becky')
mom.set_age(46)
print(mom)
print(dad)

# Lecture 16 - Data Encapsulation
* Classes
  * Comparison between Functions and Methods
	* Instance Methods vs Static Methods
  * Scope of Variables and Methods
* Encapsulation and Information Hiding
  * Data and Procedural Abstraction
	* Private Variables and Methods

##Static Methods

In [ ]:
class Person:
    info = 'person'
    def print_info():
         print (f'I am a {Person.info}.')

# main
Person.print_info()   # static method

I am a person.

In [ ]:
class Person:
     def __init__(self, name, age):
            self.name = name
            self.age = age
     def get_name(self) :
           return self.name

# main
sister = Person('Anna', 12)
print(sister.get_name())  # instance method

In [ ]:
class Tree:
      area_factor = 100
      stem = 1
      def __init__(self, h, w, name):
          self.height = h
          self.width = w
          self.name = name
      def get_width(self):    # instance method
          return self.width
      def get_area(forest):   # static method
          area = 0
          for tree in forest:
              area += tree.get_width()**2 * Tree.stem * Tree.area_factor
          return area
# main
pine = Tree(5,  0.2, 'pine')
width = pine.get_width()        # instance method
area = Tree.get_area([pine]*583)      # static method
print(f'{width:.2f}')
print(f'{area:.2f}')

0.20
2332.00

##Data Encapsulation

Data encapsulation is one of the features of Object Oriented Programming (OOP). It is used to hide implementation details and to prevent violation of state invariance of programming entities.

Data encapsulation is achived through classes. A class protects its objects from an authorized access and invalid manipulations.

##Private Variables and Private Methods

In [ ]:
class Secret:
    __ourkey = 10                              # private class variable
    def __init__(self, key):
          self.__mykey = key                   # private instance variable
    def get_key(self):
          return self.__mykey
    def __set_key(self, key):                  # private instance method
          self.__mykey = key
code = Secret (15)
try:
  print(Secret.ourkey)                       # prints error
except AttributeError as e:
  print(e)
try:
  print(code.mykey)                          # prints error
except AttributeError as e:
  print(e)
print(code.get_key())                        # prints 15
try:
  print(code.__set_key(16))                    # prints error
except AttributeError as e:
  print(e)
print(code.get_key())                        # prints 15

type object 'Secret' has no attribute 'ourkey'
'Secret' object has no attribute 'mykey'
15
'Secret' object has no attribute '__set_key'
15

##Name Mangling

Name mangling (or name decoration) is a technique that resolves unique names for programming entities. Since different programming entities can be named using the same identifier as long as they occupy a different namespace (a different module, class, or function) or have different signatures (e.g. method overloading), the compiler or interpreter should be able to resolve the names uniquely. In Python, name mangling for class methods and variables is achieved by using class name with a leading underscore (See the example below).

In [ ]:
class Person:
    def __init__(self):
        self.name = 'Sarah'
        self._age = 26
        self.__id = 30
p = Person()
print(p.name)
print(p._age)
try:
  print(p.__id)           # generates an error
except AttributeError as e:
  print(e)
print(p._Person__id)    # prints id

In [ ]:
class Employee(Person):
    def __init__(self):
        Person.__init__(self)
        self.__id = 25
emp = Employee()
print(emp._Person__id)      # prevents name clashing (by using name mangling)
print(emp._Employee__id)

30
25

##Methods and Data Attributes of a Class

In [ ]:
dir(Person())

In [ ]:
dir(list())

# Lecture 17 - Inheritance
* Inheritance
* Superclass and Subclasses
* Multiple Inheritance
* Method Overriding
* Method Resolution Order

Inheritance is a property of acquiring variables and methods by one class from another class.

Classes that share variables and methods are related to each other. A derived class (or subclass) inherits functionality (variables and methods) from the parent class called a base class (or superclass).

##Class Vehicle

In [ ]:
# make a superclass Vehicle
class Vehicle:
      name = 'vehicle'
      info = 'transportation means'
      def __init__(self, type_):
            self.type_ = type_
      def get_type(self):
            return self.type_

# make a subclass Car
class Car (Vehicle):
      wheels = 4
      def get_wheels(self):
            return Car.wheels

# instantiate various objects
boat = Vehicle('boat')
train = Vehicle('train')
car1 = Vehicle('car')
car2 = Car('car')
print(boat.get_type())
print(train.get_type())
print(car1.get_type())
print(car2.get_type())
print(car2.get_wheels())
print(car2.name)

##Multiple Inheritance

In [ ]:
class Book:
	def __init__(self, title, author, publisher, year):
		self.title = title
		self.author = author
		self.publisher = publisher
		self.year = year
	def __str__(self):
		return (f'title={self.title}, author={self.author},publisher={self.publisher}, year={self.year}')

book = Book(title='Python Crash Course', author='Eric Matthes',
            publisher='No Starch Press', year=2016)
print(book)

In [ ]:
class ElectronicDevice:
	def __init__(self, voltage, battery):
		self.voltage = voltage
		self.battery = battery
	def __str__(self):
	   return (f'voltage={self.voltage}, battery={self.battery}')

computer = ElectronicDevice(voltage=12, battery='Litheum')
print(computer)

In [ ]:
# to run this code first run the two codes above!!!
class ElectronicBook (Book, ElectronicDevice):
	def __init__(self, title, author, publisher, year, voltage, battery, model):
		Book.__init__(self, title, author, publisher, year)
		ElectronicDevice.__init__(self, voltage, battery)
		self.model = model
	def __str__(self):
		return(f'title={self.title}, author={self.author}, publisher={self.publisher},\
year={self.year}, voltage={self.voltage}, battery={self.battery}, model={self.model}')

book = ElectronicBook(title='Python Crash Course', author='Eric Matthes',
                      publisher='No Starch Press', year=2016, voltage=12,
                      battery='Litheum', model='Kindle')
print(book)

title=Python Crash Course, author=Eric Matthes, publisher=No Starch Press,year=2016, voltage=12, battery=Litheum, model=Kindle

# Lecture 18 - Polymorphism
* Polymorphism
* Interfaces and Abstract Classes
* Operator Overloading
* Magic Methods

##Polymorphism

Polymorphism is a property that allows different implementation of variables and methods that are named the same in the construction of various derived classes.

In [ ]:
# make superclass Shape
class Shape :
	  def __init__(self, area):
	      self.area = area
	  def get_area (self) :
	      return self.area
star = Shape(10)
print(star.get_area())

10

In [ ]:
# first run the code above!!!
# make subclass Rectangle
class Rectangle (Shape):
	  def __init__(self, width, length):
	      self.width = width
	      self.length = length
	  def get_area (self) :
	      return self.width * self.length

rec = Rectangle(4, 3)
print(rec.get_area())

12

In [ ]:
# first run the two codes above
# make subclass Circle
import math
class Circle (Shape) :
	  def __init__(self, r):
	      self.radius = r
	  def get_area (self) :
	      return math.pi * self.radius**2

circle = Circle(r=5)
print(f'{circle.get_area():.2f}')

78.54

In [ ]:
# first run the two codes above
def print_area(shape):
	  print(f'{shape.get_area():.2f}')

rec = Rectangle(10, 2)
circle = Circle(3)
shapes = [rec, circle]
for item in shapes :
	  print_area(item)

20.00
28.27

##Interfaces and Abstract Classes

In [ ]:
# make superclass Shape – interface implementation
class Shape :
	  def get_area (self) :
	      pass

##Magic Methods

Magic methods are methods that are used to define behaviours of various overloaded operators and built-in functions in Python. For example, \_\_init__ is used to construct objects belonging to different classes, \_\_str__ is used to convert an object into its string representation, \_\_lt__ is used to compare objects using the operator '<'. There are many more magic methods in Python:
https://www.netjstech.com/2019/06/magic-methods-in-python-with-examples.html.

In [ ]:
class Person:
      def __init__(self, name, age):
           self.name = name
           self.age = age
      def __lt__(self, other):
           return self.age < other.age

brother = Person('Dave', 8)
sister = Person ('Emily', 10)
if brother < sister:
     print (f'{brother.name} is younger than {sister.name}.')
else:
      print (f'{brother.name} is not younger than {sister.name}.')

# Lecture 19 - Modules
* Programming Approaches: Top-Down and Bottom-Up Approaches
* Modular Programming
* Modules, Packages, and Libraries
* Creating and Importing Modules
* Standard Python Library and Packages
* Creating Own Packages
* External Libraries

##Hashlib Module

In [ ]:
from hashlib import md5, sha1

text = input("Enter text to hash ('q' to quit): ")

while text != 'q':
    algorithm = input('Enter algorithm (md5/sha1): ')
    if algorithm == 'md5':
        output = md5(text.encode('utf-8'))
    elif algorithm == 'sha1':
        output = sha1(text.encode('utf-8'))
    else:
        output = 'Invalid algorithm selection'
    print(f'Hash value: {output.hexdigest()}')

    text = input("\nEnter text to hash ('q' to quit): ")

Enter text to hash ('q' to quit): hello
Enter algorithm (md5/sha1): md5
Hash value: 5d41402abc4b2a76b9719d911017c592

Enter text to hash ('q' to quit): q

##Datetime Module

In [ ]:
import datetime

# Create a new date object representing the current date (May 30, 2016)
today  = datetime.date.today()

days_from_now = int(input('Enter number of days from now: '))

# Create a new timedelta object that represents a difference in the
# number of days between dates.
day_difference = datetime.timedelta(days = days_from_now)

# Calculate new date
future_date = today + day_difference

print(f'{days_from_now} days from now is {future_date.strftime("%B %d, %Y")}')

##Urllib Module

In [ ]:
import urllib.request

def search(terms):
    """Do a fictional web engine search and return the results"""
    html = _send_request(terms)
    results = _get_results(html)
    return results

def _send_request(terms):
    """Send search to fictional web search engine and receive HTML response"""
    terms = terms.replace(' ', '%20')  #replace spaces

    url = 'https://en.wikipedia.org/wiki/search?q=' + terms
    info = {'User-Agent': 'Mozilla/5.0'}
    req = urllib.request.Request(url, headers=info)

    response = urllib.request.urlopen(req)
    html = str(response.read())
    return html

def _get_results(html):
    """
    Finds the links returned in 1st page of results.
    """
    start_tag = '<cite>'  # start of results
    end_tag = '</cite>'   # Results end with this tag
    links = []            # list of result links

    start_tag_loc = html.find(start_tag)  # find 1st link

    while start_tag_loc > -1:
        link_start = start_tag_loc + len(start_tag)
        link_end = html.find(end_tag, link_start)
        links.append(html[link_start:link_end])
        start_tag_loc = html.find(start_tag, link_end)

    return links

search_term  = input('Enter search terms: ')
result = search(search_term)

print(f'Found {len(result)} links:')
for link in result:
    print(' ', link)

Enter search terms: cat
Found 0 links:

# Lecture 20 - Advanced Topics (Optional)
* Functional Programming (Brief Overview)
  * Anonimous Functions (lambda)
  * List and Dictionary Comprehensions
  * Iterators
  * Generators
  * Higher Order Functions: Map, Filter, Reduce, and Decorator
* Recursion and Memoization (Brief Overview)